@import url("https://fonts.cdnfonts.com/css/vegawanty");
@import url("https://fonts.cdnfonts.com/css/open-sans");

body {
  margin: 5;
  background-color: #f1e7db;
}

.index {
  background-color: #f1e7db;
}

h1 {
  font-size: 90px;
  font-family: "Vegawanty", sans-serif;
  text-align: center;
  color: rgb(116, 33, 33);
}

h2 {
  font-size: 30px;
  font-family: "Vegawanty";
  text-align: center;
  color: #213242;
}

#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(240, 232, 218);
  border-radius: 0 5px 5px 0;
}
#mySidenav a:hover {
  left: 0;
}

#gallery {
  top: 20px;
  background-color: #b75b4e;
}

#about {
  top: 80px;
  background-color: #0f6684;
}

#contact {
  top: 140px;
  background-color: #213242; /* Red */
}

.secondapagina {
  margin: 5px;
  background-color: #f1e7db;
}

hr {
  color: rgb(116, 33, 33);
  width: 85%;
}

.gallery {
  font-size: 40px;
  font-family: "Vegawanty";
  text-align: center;
  color: #213242;
}
.digital {
  font-size: 30px;
  font-family: "Vegawanty";
  text-align: center;
  color: #213242;
}
.ink {
  font-size: 30px;
  font-family: "Vegawanty";
  text-align: center;
  color: #213242;
}
.watercolor {
  font-size: 30px;
  font-family: "Vegawanty";
  text-align: center;
  color: #213242;
}
.sketchbooks {
  font-size: 40px;
  font-family: "Vegawanty";
  text-align: center;
  color: #213242;
}
.about {
  font-size: 40px;
  font-family: "Vegawanty";
  text-align: center;
  color: #213242;
}
.artistbio {
  font-size: 30px;
  font-family: "Vegawanty";
  text-align: center;
  color: #213242;
}
.contact {
  font-size: 30px;
  font-family: "Vegawanty";
  text-align: center;
  color: #213242;
}
.a:active {
  color: #213242;
}
.terzapagina {
  margin: 5px;
  background-color: #f1e7db;
}
#back {
  top: 20px;
  background-color: #b75b4e;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

body,
html {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.bg-image {
  height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Images used */
.img1 {
  background-image: url("immagini/donna\ e\ farfallewatercolor.jpeg");
}
.img2 {
  background-image: url("immagini/copertina\ 2.jpg");
}
.img3 {
  background-image: url("immagini/copertina\ 7.jpg");
}
.img4 {
  background-image: url("immagini/copertina\ 10.jpg");
}
.img5 {
  background-image: url("immagini/copertina\ 6.jpg");
}
.img6 {
  background-image: url("immagini/copertina\ 12.jpg");
}
.img7 {
  background-image: url("immagini/copertina\ 11.jpg");
}

a:link {
  color: #213242;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #213242;
}
a:active {
  color: #213242;
}
a:hover {
  color: #b75b4e;
  text-decoration: none;
  background-color: transparent;
}
.quartapagina {
  margin: 5px;
  background-color: #f1e7db;
}
.quintapagina {
  margin: 5px;
  background-color: #f1e7db;
}
.bio {
  text-align: center;
}

/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 30px;
  transition: all 0.3s ease;
  color: white;
  font-size: 28px;
}

.quintapagina {
  background-color: rgb(50, 50, 52);
}
.inkpagina {
  color: white;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Sfondo scuro traslucido */
  z-index: 9999;
}

.popup img {
  max-width: 60%;
  max-height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Stile di base per la pagina dei contatti */
body {
  background-color: #f1e7db;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1.gallery {
  text-align: center;
  margin-top: 50px;
}

.lineauno {
  margin-top: 20px;
}

/* Stile per le icone dei contatti */
.contact-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.contact-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #333;
  margin-bottom: 20px;
  font-size: 30px;
  transition: color 0.3s ease;
}

.contact-icons i {
  font-size: 50px;
  margin-right: 10px;
}
.contact-icons a:hover {
  color: #b75b4e;
}

.contact-label {
  font-size: 18px;
}
.bio-description {
  font-size: 30px;
  font-family: "Vegawanty", sans-serif;
  text-align: center;
  color: #213242;
}
.bio-content {
  text-align: center;
}

.bio-description {
  max-width: 800px;
  margin: 0 auto;
}
.homepage {
  font-size: 50px;
  font-family: "Vegawanty";
  text-align: center;
  color: #213242;
}

.bio-description {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Imposta il colore di sfondo bianco con trasparenza (0.8) */
  padding: 10px; /* Aggiungi spazio intorno al contenuto della biografia */
  border-radius: 100px; /* Aggiungi bordi arrotondati al riquadro */
  font-family: "Open Sans", sans-serif;
}
.biography-box {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-align: left;
}

.biography-box p {
  margin-bottom: 50px; /* Aggiungi uno spazio inferiore tra i paragrafi della biografia */
}
.biography-box img {
  display: block;
  max-width: 100%;
  margin-bottom: 20px;
}
.settima-pagina {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px auto;
  display: block;
}
.bio {
  margin-bottom: 20px;
  font-size: 30px;
}
.full-width-image {
  width: 100%;
  height: auto;
}
.artistbio {
  font-size: 50px;
}
.artist-name {
  font-size: 40px;
}
.bio-description {
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Media query per dispositivi mobili con larghezza massima di 600px */
@media only screen and (max-width: 600px) {
  /* Inserisci qui le modifiche CSS per i dispositivi mobili */
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 20px;
  }

  .column {
    flex: 100%;
    max-width: 100%;
  }

  .popup img {
    max-width: 90%;
    max-height: 90%;
  }

  .bio-description {
    font-size: 20px;
  }
  .artistbio {
    font-size: 30px;
  }

  .artist-name {
    font-size: 24px;
  }

  .contact-label {
    font-size: 16px;
  }

  .contact-icons a {
    font-size: 24px;
  }
}
  .molecolas {
    font-size: 60px;
  }
  .visit {
    font-size: 40px;
  }
  #mySidenav {
    font-size: 25px;
    padding: 10px;
  }
  /* Modifica la dimensione del titolo "MOLECOLAS" */
  body .index .molecolas {
    font-size: 80px;
  }

  /* Modifica la dimensione del testo "VISIT THE PAGE" */
  body .index .visit {
    font-size: 40px;
  }

  /* Modifica la dimensione del menu */
  body #mySidenav a {
    font-size: 15px;
    padding: 20px;
  }
